@squareWidth: 100px;
@squareHeight: 100px;

table {
  position: relative;
  left: 40%;
}

.boardSquare {
  border: solid black 2px;
  text-align: center;
  width: @squareWidth;
  height: @squareHeight;
}

.nought {
  background: url("../images/noughtAndCrossSheet.png") 101px 0;
  background-size: 200px 100px;
}

.cross {
  background: url("../images/noughtAndCrossSheet.png") 0 0;
  background-size: 200px 101px;
}
