<!DOCTYPE html>
<html ng-app="MainApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Noughts And Crosses</title>
    <link rel="stylesheet/less" type = "text/css" href="less/styles.less">
</head>
<body ng-controller="MainController">
    <table>
        <tr>
            <td>{{board[0]}}</td>
            <td>{{board[1]}}</td>
            <td>{{board[2]}}</td>
        </tr>

        <tr>
            <td>{{board[3]}}</td>
            <td>{{board[4]}}</td>
            <td>{{board[5]}}</td>
        </tr>

        <tr>
            <td>{{board[6]}}</td>
            <td>{{board[7]}}</td>
            <td>{{board[8]}}</td>
        </tr>
    </table>

    <button ng-click="startNewGame('random', 'random')">Play Random</button>
    <button ng-click="startNewGame('human', 'random')">Play</button>
    <button ng-click="chooseMove()">Make Move</button>

    <script src="../../node_modules/angular/angular.min.js"></script>
    <script src="scripts/MainController.js"></script>
    <script src="../../node_modules/less/dist/less.min.js"></script>
</body>
</html>