<head lang="en">
    <title>Settings</title>
</head>
<body>
    <h1><b>Settings</b></h1>

    <ul>
        <li>
            <label for="p1Name">Player 1 Name: </label> <input type="text" id="p1Name" ng-model="p1Name">
        </li>
        <li>
            <label for="p2Name">Player 2 Name: </label> <input type="text" id="p2Name" ng-model="p2Name">
        </li>

        <li>
            <h2>Should Player 1 use Noughts or Crosses?</h2>
            <input type="radio" name="symbolOption" ng-model="symbolOption" value="nought" ng-checked="model.p1Symbol() ==='nought'" id="p1NoughtOption"> <label for="p1NoughtOption">Noughts</label>
            <input type="radio" name="symbolOption" ng-model="symbolOption" value="cross" ng-checked="model.p1Symbol() === 'cross'" id="p1CrossOption"> <label for="p1CrossOption">Crosses</label>
        </li>

        <li>
            <h2>Sound:</h2>
            <input type="radio" name="soundOption" ng-model="soundOption" value="true" ng-checked="model.soundOn()" id="soundOnOption"> <label for="soundOnOption">On</label>
            <input type="radio" name="soundOption" ng-model="soundOption" value="false" ng-checked="!model.soundOn()" id="soundOffOption"> <label for="soundOffOption">Off</label>
        </li>

    </ul>

    <button ng-click="model.updateSettings(p1Name, p2Name, symbolOption, soundOption)">Save Settings</button>
    <button ng-click="model.go('gameBoard', false, false)">Back</button>
</body>